<div class="ll-feature bg-warn pt-12 pb-14">
    <div class="container">
        <div class="grid grid-cols-12">
            <div class="_title-wrap bg-black col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3 sm:row-span-3">
                <h2 class="_title text-white">
                    Yours
                    Benefits
                    Of using our
                    Online doctor channeling platform
                </h2>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">CONVENIENT ACCESS TO TRUSTED DOCTORS ANYTIME, ANYWHERE.</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">SAVE TIME BY AVOIDING LONG WAITING TIMES AND TRAVEL.</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">BOOK APPOINTMENTS WITH JUST A FEW CLICKS.</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">FLEXIBLE SCHEDULING OPTIONS TO SUIT YOUR AVAILABILITY.</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">CONNECT WITH QUALIFIED DOCTORS FOR HIGH-QUALITY CARE.</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">SECURE AND PRIVATE VIDEO CONSULTATIONS.</h2>
                </div>
            </div>
        </div>
    </div>
</div>
